terraform {
  required_providers {
    opennebula = {
      source = "OpenNebula/opennebula"
      version = "~> 1.3"
    }
  }
}

resource "opennebula_virtual_machine" "{{ tn_id }}_{{ one_bastion_name }}" {

  name        = "{{ tn_id }}_{{ one_bastion_name }}_{{ tn_id }}"
  description = "BASTION FOR TN ID {{ tn_id }}"
  template_id = {{ site_one_templates.tn_bastion.id }}
  group       = "oneadmin"
  permissions = "660"

  context = {
    HOSTNAME = "$NAME"
    PASSWORD = "demo"
    WIREGUARD_ALLOWEDIPS      = "{{ one_bastion_wireguard_allowed_networks }}"
  }

{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = network
    security_groups = [0]
  }
{% endfor %}

}
