---
REDIS_HOST: "{{ one_nwdaf_sa_REDIS_HOST | string }}"
REDIS_PORT: "{{ one_nwdaf_sa_REDIS_PORT | string }}"
CELERY_BROKER_URL: "{{ one_nwdaf_sa_CELERY_BROKER_URL | string }}",
CELERY_RESULT_BACKEND: "{{ one_nwdaf_sa_CELERY_RESULT_BACKEND | string }}",
LOCALAPI: "{{ one_nwdaf_sa_LOCALAPI | string }}",
PROMETHEUS_URL: "{{ one_nwdaf_sa_PROMETHEUS_URL | string }}",
NWDAF_LOCALAPI_URL: "{{ one_nwdaf_sa_NWDAF_LOCALAPI_URL | string }}",
LOCALAPI_SERVICE_ENDPOINT: "{{ one_nwdaf_sa_LOCALAPI_SERVICE_ENDPOINT | string }}",
METRICS_AGGREGATOR_SERVICE_ENDPOINT: "{{ one_nwdaf_sa_METRICS_AGGREGATOR_SERVICE_ENDPOINT | string }}"
