---
prometheus_url: "{{ one_nwdaf_sa_prometheus_url | string }}"
prometheus_query_instance: "{{ one_nwdaf_sa_prometheus_query_instance | string }}"
prometheus_query_job: "{{ one_nwdaf_sa_prometheus_query_job | string }}"
amarisoft_url: "{{ one_nwdaf_sa_amarisoft_url | string }}"
