resource "opennebula_virtual_network" "{{ tn_id }}_{{ one_vxlan_name }}" {
  name            = "{{ tn_id }}_{{ one_vxlan_name }}"
  permissions     = "660"
  group           = "{{ one_grooup }}"
  physical_device = "{{ one_vxlan_physical_device }}"
  type            = "vxlan"
  automatic_vlan_id = true
  mtu             = {{ one_vxlan_mtu }}
  guest_mtu       = {{ one_vxlan_guest_mtu }}
  dns             = "{{ one_vxlan_dns }}"
  gateway         = "{{ one_vxlan_gw }}"
  security_groups = {{ one_vxlan_security_groups }}
  cluster_ids = {{  site_network_clusters }}

  template_section {
   name = "{{ one_vxlan_name }}"
   elements = {
      TNID = "{{ tn_id }}"
   }
  }
}

resource "opennebula_virtual_network_address_range" "{{ tn_id }}_{{ one_vxlan_name }}" {
  virtual_network_id = opennebula_virtual_network.{{ tn_id }}_{{ one_vxlan_name }}.id
  ar_type            = "IP4"
  size               = {{ one_vxlan_address_size }}
  ip4                = "{{ one_vxlan_first_ip }}"
}

output "{{ one_vxlan_name }}_vxlan_id" {
  description = "OpenNebula Network ID"
  value       = opennebula_virtual_network.{{ tn_id }}_{{ one_vxlan_name }}.id
}