resource "opennebula_virtual_machine" "{{ tn_id }}_{{ one_component_name }}" {

  name        = "{{ tn_id }}_{{ one_component_name }}"
  description = "{{ tn_id }} VM VERY SMALL"
  template_id = {{ site_one_templates.vm_xs.id }}
  group       = "oneadmin"
  permissions = "660"

  context = {
    HOSTNAME = "$NAME"
    USERNAME = "{{ one_vm_username }}"
    PASSWORD = "{{ one_vm_password }}"
    WIREGUARD_ALLOWEDIPS      = "{{ one_bastion_wireguard_allowed_networks }}"
  }

{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = {{ network_id }}
    security_groups = [0]
  }
{% endfor %}

}

output "{{ one_component_name }}_network_assignments" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ tn_id }}_{{ one_component_name }}.nic[*] : nic.network_id => nic.computed_ip }
}
