[Match]
Name=ogstun

[Network]
Address=10.45.0.1/32

## DNN default
[Route]
Gateway=0.0.0.0
Destination={{hostvars[inventory_hostname]['ue_subnet']}}

## DNN internet
#[Route]
#Gateway=0.0.0.0
#Destination=192.168.5.0/24

[Link]
MTUBytes=1400
RequiredForOnline=false
