AMF_CP_IP=127.0.11.20
AMF_MGMT_IP=127.0.254.20
AMF_N2_IP="{{ n2_ip | default('127.0.12.20') }}"
AUSF_CP_IP=127.0.11.25
AUSF_MGMT_IP=127.0.254.25
NRF_CP_IP=127.0.11.35
NRF_MGMT_IP=127.0.254.35
PROMETHEUS_MGMT_IP=127.0.254.130
SMF_CP_IP=127.0.11.40
SMF_DB_IP=127.0.253.40
SMF_MGMT_IP=127.0.254.40
SMF_N4_IP=127.0.14.40
SQL_DB_IP=127.0.253.5
SQL_MGMT_IP=127.0.254.5
UDM_CP_IP=127.0.11.30
UDM_DB_IP=127.0.253.30
UDM_MGMT_IP=127.0.254.30
UPF1_MGMT_IP=127.0.254.45
UPF1_N4_IP=127.0.14.45
UPF1_N6_ETH_IP=0.0.0.0
PCF_CP_IP=127.0.11.85
PCF_MGMT_IP=127.0.254.85
SQL_DB_IP=127.0.0.1
UPF1_N3_IP="{{ n3_ip | default('127.0.13.45') }}"
UPF1_N3_IF="{{ n3_if | default('eth1') }}"
UPF1_N6_IP="{{ n6_ip | default('127.0.15.45') }}"
UPF1_N6_TUN=n6tun
UPF1_N6_IF="{{ n6_if | default('eth0') }}"
UPF1_N9_IP=127.0.16.45
UPF1_N9_IF=lo
UPF1_N6_ETH_IP="0.0.0.0"
COMMAND_DISABLED=0
DISABLE_REMOTE_COMMAND=0
MCC="{{ mcc | default('001') }}"
MNC="{{ mnc | default('01') }}"
PROMETHEUS_ENABLED=0
DISABLE_XDP="{{ 0 if upf_xdp else 1 }}"
NRF_HB_ENABLE=0

TAC="{{ ue_tac }}"
DNN="{{ ue_apn }}"
DNN_SUBNET="{{ ue_subnet }}"