[Unit]
Description=open5Gcore - %I
#After=dev-%i.device systemd-user-sessions.service
PartOf=open5gcore.service

[Service]
Type=simple

EnvironmentFile=/etc/open5gcore/systemd_env
# this one is optional
EnvironmentFile=-/etc/open5gcore/%i_env
Environment=cfgdir=/etc/open5gcore
#PIDFile=/tmp/phoenix-%i.pid
ConditionPathExists=/etc/open5gcore/%i.json

ExecStart=/opt/phoenix/dist/bin/phoenix -j /etc/open5gcore/%i.json -l -p /opt/phoenix/dist/lib -i /tmp/phoenix-%i.pid

TimeoutStopSec=8
Restart=always
RestartSec=5

[Install]
WantedBy=open5gcore.service
