# https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
# https://docs.opennebula.io/6.8/management_and_operations/references/template.html#context-section
resource "opennebula_virtual_machine" "tn_bastion" {
  name        = "{{ tn_id }}-tn_bastion"
  template_id = {{ site_available_components.tn_bastion.template_id }}
  cpu         = {{ one_bastion_cpu }}
  vcpu        = {{ one_bastion_cpu }}
  memory      = {{ one_bastion_memory }}

  context = {
    NETWORK = "YES"
    SET_HOSTNAME = "$NAME"
    USERNAME = "jenkins"
    VPN_PUBLIC_IP = "{{ site_public_ip }}"
    WIREGUARD_ALLOWEDIPS = "{{ one_bastion_wireguard_allowedips }}"
  }

{# ### Disabled the possibility to modify VM's size due to a Terraform OpenNebula Provider's error
  disk {
    image_id = {{ site_available_components.tn_bastion.image_id }}
    size     = {{ one_bastion_disk }}
    target   = "vda"
    driver   = "qcow2"
  } #}

  nic {
    model           = "virtio"
    network_id      = "{{ site_networks_id.default }}"
  }
{% for network in one_bastion_networks %}
  nic {
    model           = "virtio"
    network_id      = opennebula_virtual_network.{{ network }}.id
  }
{% endfor %}

  depends_on = [ opennebula_virtual_network_address_range.tn_vxlan ]
}

output "tn_bastion-id" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.tn_bastion.id
}

output "tn_bastion-ips" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.tn_bastion.nic[*] : nic.network_id => nic.computed_ip }
}
