# https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
# https://docs.opennebula.io/6.8/management_and_operations/references/template.html#context-section
resource "opennebula_virtual_machine" "{{ entity_name }}" {
  name        = "{{ tn_id }}-{{ entity_name }}"
  template_id = {{ site_available_components.ks8500_runner.template_id }}
  cpu         = {{ one_ks8500runner_cpu }}
  vcpu        = {{ one_ks8500runner_cpu }}
  memory      = {{ one_ks8500runner_memory }}

  context = {
    NETWORK = "YES"
    NETCFG_TYPE: "interfaces"
    SET_HOSTNAME = "$NAME"
    USERNAME = "jenkins"
    SSH_PUBLIC_KEY: "$USER[SSH_PUBLIC_KEY]"
    # START_SCRIPT = "sudo apk add python3 py3-pip py3-requests docker docker-cli-buildx docker-compose openrc docker-cli-compose"
    START_SCRIPT64="IyEvYmluL2Jhc2gKc3VkbyBhcGsgYWRkIHB5dGhvbjMgcHkzLXBpcCBweTMtcmVxdWVzdHMgZG9ja2VyIGRvY2tlci1jbGktYnVpbGR4IGRvY2tlci1jb21wb3NlIG9wZW5yYyBkb2NrZXItY2xpLWNvbXBvc2U="
  }

{# ### Disabled the possibility to modify VM's size due to a problem with Terraform's OpenNebula Provider
  disk {
    image_id = {{ site_available_components.ks8500_runner.image_id }}
    size     = {{ one_ks8500runner_disk }}
    target   = "vda"
    driver   = "qcow2"
  } #}


{% for network in one_ks8500runner_networks %}
  nic {
    model           = "virtio"
    network_id      = opennebula_virtual_network.{{ network }}.id
  }
{% endfor %}

  depends_on = [ opennebula_virtual_network_address_range.tn_vxlan ]
}

output "{{ entity_name }}-id" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.{{ entity_name }}.id
}

output "{{ entity_name }}-ips" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ entity_name }}.nic[*] : nic.network_id => nic.computed_ip }
}
