resource "opennebula_virtual_machine" "{{ tn_id }}-{{ one_bastion_name }}" {

  name        = "{{ tn_id }}-{{ one_bastion_name }}"
  description = "BASTION FOR TN ID: {{ tn_id }}"
  template_id = {{ site_one_templates.tn_bastion.id }}
  permissions = "660"
  group       = "{{ one_group }}"

  context = {
    SET_HOSTNAME = "$NAME"
    PASSWORD = "{{ site_one_bastion_default_password }}"
    WIREGUARD_ALLOWEDIPS = "{{ one_bastion_wireguard_allowed_networks }}"
    VPN_PUBLIC_IP = "{{ site_public_ip }}"
    SSH_PUBLIC_KEY = "{{ site_jenkins_ssh_public_key }}"
  }

{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = {{ network_id }}
    # security_groups = [0]  # Commented because ONE terraform provider has a bug  
  }
{% endfor %}

}

output "{{ one_bastion_name }}-network_assignments" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ tn_id }}-{{ one_bastion_name }}.nic[*] : nic.network_id => nic.computed_ip }
}
