# https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
# https://docs.opennebula.io/6.8/management_and_operations/references/template.html#context-section
resource "opennebula_virtual_machine" "tn_bastion" {
  name        = "{{ tn_id }}-tn_bastion"
  template_id = {{ site_one_templates.tn_bastion.id }}
  cpu         = {{ one_bastion_cpu }}
  memory      = {{ one_bastion_cpu }}

  context = {
    NETWORK = "YES"
    SET_HOSTNAME = "$NAME"
    USERNAME = "{{ site_jenkins_user }}"
    SSH_PUBLIC_KEY = "{{ site_jenkins_ssh_public_key }}"
    VPN_PUBLIC_IP = "{{ site_public_ip }}"
    WIREGUARD_ALLOWEDIPS = "{{ one_bastion_wireguard_allowed_networks }}"
  }


  disk {
    image_id = {{ site_one_templates.tn_bastion.image_id }}
    size     = {{ one_bastion_disk }}
    target   = "vda"
    driver   = "qcow2"
  }

{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = {{ network_id }}
  }
{% endfor %}
}

output "tn_bastion-id" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.tn_bastion.id
}

output "tn_bastion-ips" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.tn_bastion.nic[*] : nic.network_id => nic.computed_ip }
}
