https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
resource "opennebula_virtual_machine" "{{ tn_id }}-tn_bastion" {
  name        = "{{ tn_id }}-tn_bastion"
  template_id = {{ site_one_templates.tn_bastion.id }}
  group       = "{{ one_group }}"

  context = {
    NETWORK = "YES"
    SET_HOSTNAME = "$NAME"
    PASSWORD = "{{ site_one_bastion_default_password }}"
    WIREGUARD_ALLOWEDIPS = "{{ one_bastion_wireguard_allowed_networks }}"
    VPN_PUBLIC_IP = "{{ site_public_ip }}"
    SSH_PUBLIC_KEY = "{{ site_jenkins_ssh_public_key }}"
  }

{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = {{ network_id }}
  }
{% endfor %}
}

output "{{ one_bastion_name }}-network_assignments" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ tn_id }}-{{ one_bastion_name }}.nic[*] : nic.network_id => nic.computed_ip }
}

output "{{ one_component_name }}-VM_ID" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.{{ tn_id }}-{{ one_component_name }}.id
}
