polkit.addRule(function(action, subject) {
    if(action.id == "org.freedesktop.machine1.host-shell" && subject.user == "jenkins") {
        return polkit.Result.YES;
    }
});
