# https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
# https://docs.opennebula.io/6.8/management_and_operations/references/template.html#context-section
resource "opennebula_virtual_machine" "{{ entity_name }}" {
  name        = "{{ tn_id }}-{{ entity_name }}"
  template_id = {{ site_one_templates.ueransim.id }}
  cpu         = {{ one_vm_cpu }}
  vcpu        = {{ one_vm_cpu }}
  memory      = {{ one_vm_memory }}

  context = {
    NETWORK = "YES"
    SET_HOSTNAME = "$NAME"
    USERNAME = "{{ site_jenkins_user }}"
    SSH_PUBLIC_KEY = "{{ site_jenkins_ssh_public_key }}"
    RUN_GNB = "{{ run_gnb }}"
    RUN_UE = "{{ run_ue }}"
 {# ojo con esta, está mal, y hay que referenciar variable one_ueransim_k8s #}
    ONEKE_VNF = {{ opennebula_virtual_network.{{ one_k8s_external_vnet }}.ip }}
    ONEKE_VNF = "${output.k8s_medium-{{ one_k8s_external_vnet }}-node_ips}"

    GNB_MCC = "{{ gnb_mcc }}"
    GNB_MNC = "{{ gnb_mnc }}"
    GNB_TAC = "{{ gnb_tac }}"
    GNB_AMF_ADDRESS = "{{ gnb_amf_address }}"
    GNB_SLICES_SST = "{{ gnb_slices_sst }}"
    GNB_SLICES_SD = "{{ gnb_slices_sd }}"

{# {% if gnb_gtpIp       is defined and gnb_gtpIp %}
    GNB_GTPIP = "{{ gnb_gtpIp }}"
{% endif %}
{% if gnb_linkIp      is defined and gnb_linkIp %}
    GNB_LINKIP = "{{ gnb_linkIp }}"
{% endif %}
{% if gnb_ngapIp      is defined and gnb_ngapIp %}
    GNB_NGAPIP = "{{ gnb_ngapIp }}"
{% endif %} #}

    UE_SUPI = "{{ ue_supi }}"
    UE_MCC = "{{ ue_mcc }}"
    UE_MNC = "{{ ue_mnc }}"
    UE_KEY = "{{ ue_key }}"
    UE_OP = "{{ ue_op }}"
    UE_GNBSEARCHLIST = "{{ ue_gnbSearchList }}"
    UE_SESSION_APN = "{{ ue_session_apn }}"
    UE_SESSION_SST = "{{ ue_session_sst }}"
    UE_SESSION_SD = "{{ ue_session_sd }}"
    UE_CONFIGURED_NSSAI_SST = "{{ ue_configured_nssai_sst }}"
    UE_CONFIGURED_NSSAI_SD = "{{ ue_configured_nssai_sd }}"
    UE_DEFAULT_NSSAI_SST = "{{ ue_default_nssai_sst }}"
    UE_DEFAULT_NSSAI_SD = "{{ ue_default_nssai_sd }}"
  }

{# ### Disabled the possibility to modify VM's size due to a Terraform OpenNebula Provider's error
  disk {
    image_id = {{ site_one_templates.tn_bastion.image_id }}
    size     = {{ one_vm_disk }}
    target   = "vda"
    driver   = "qcow2"
  } #}


{% for network in one_vm_networks %}
  nic {
    model           = "virtio"
    network_id      = opennebula_virtual_network.{{ network }}.id
  }
{% endfor %}
}

output "{{ entity_name }}-id" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.{{ entity_name }}.id
}

output "{{ entity_name }}-ips" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ entity_name }}.nic[*] : nic.network_id => nic.computed_ip }
}
