terraform {
  backend "s3" {
    bucket = "{{ site_s3_server.bucket }}"
    key = "{{ tn_id }}/terraform.tfstate"
    endpoints = {
        s3 = "{{ site_s3_server.endpoint }}"
    }
    region = "{{ site_s3_server.region }}"
    skip_requesting_account_id = {{ site_s3_server.skip_requesting_account_id }}
    skip_credentials_validation = {{ site_s3_server.skip_credentials_validation }}
    skip_metadata_api_check = {{ site_s3_server.skip_metadata_api_check }}
    skip_region_validation = {{ site_s3_server.skip_region_validation }}
    use_path_style = {{ site_s3_server.force_path_style }}
  }  
}
