resource "opennebula_virtual_machine" "{{ tn_id }}-{{ one_component_name }}" {

  name        = "{{ tn_id }}-{{ one_component_name }}"
  description = "{{ tn_id }} VM MEDIUM"
  template_id = {{ site_one_templates.vm_m }}
  permissions = "660"

  context = {
    SET_HOSTNAME = "$NAME"
    USERNAME = "{{ one_vm_username }}"
    PASSWORD = "{{ one_vm_password }}"
    START_SCRIPT_BASE64 = "{{ site_jenkins_script_base64 }}" 
  }


{% for network_id in one_component_networks %}
  nic {
    model           = "virtio"
    network_id      = {{ network_id }}
    # security_groups = [0]  # Commented because ONE terraform provider has a bug  
  }
{% endfor %}

}

output "{{ one_component_name }}-network_assignments" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ tn_id }}-{{ one_component_name }}.nic[*] : nic.network_id => nic.computed_ip }
}
