# ---- UPF-P4 Controller Configuration Parameters ----
constants:
  # UP function identifier
  FQDN_UP: "up"

  # IPv4 and MACs addresses of the control plane interface (N4)
  SMF_IPV4_N4: "127.0.0.4"
  UPF_IPV4_N4: "127.0.0.7"
  #SMF_MAC_N4: "00:aa:bb:00:00:42"
  SMF_MAC_N4: "00:00:00:00:00:00"
  #UPF_MAC_N4: "00:aa:bb:00:00:41"
  UPF_MAC_N4: "00:00:00:00:00:00"

  # IPv4 and MACs addresses of the different data plane interfaces (N3, N6 & N9)
  ENB_IPV4_N3: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['enb_ipv4_n3'] }}"
  ENB_IPV4_N3_2: "10.0.32.2"
  UPF2_IPV4_N9: "10.0.9.2"
  DN_IPV4_N6: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['dn_ipv4_n6'] }}"

  UPF_IPV4_N3: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['upf_ipv4_n3'] }}"
  UPF_IPV4_N3_2: "10.0.32.1"
  UPF_IPV4_N9: "10.0.9.1"
  UPF_IPV4_N6: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['upf_ipv4_n6'] }}"
  UPF_IPV4_N6_2: "10.0.62.1"

  #ENB_MAC_N3: "00:aa:bb:00:00:32"
  ENB_MAC_N3: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['enb_mac_n3'] }}"
  ENB_MAC_N3_2: "00:aa:bb:00:02:32"
  UPF2_MAC_N9: "00:aa:bb:00:00:92"
  DN_MAC_N6: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['dn_mac_n6'] }}"

  #UPF_MAC_N3: "00:aa:bb:00:00:31"
  UPF_MAC_N3: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['upf_mac_n3'] }}"
  UPF_MAC_N3_2: "00:aa:bb:00:02:31"
  UPF_MAC_N9: "00:aa:bb:00:00:91"
  UPF_MAC_N6: "{{ hostvars['localhost']['one_upf_p4_sw_controller']['upf_mac_n6'] }}"
  UPF_MAC_N6_2: "00:aa:bb:00:02:61"

  # IP UE pool subnet
  subnet_IPv4: "{{ hostvars['localhost']['one_upf_p4_sw_ue_pool'] }}"

  # Controller interfaces
  CONTROLLER_INTF_N4: 'lo'

  # Data Plane P4 interfaces
  GRPC_ADDR: '127.0.0.1:9559'
