# https://registry.terraform.io/providers/OpenNebula/opennebula/latest/docs/resources/virtual_machine
# https://docs.opennebula.io/6.8/management_and_operations/references/template.html#context-section
resource "opennebula_virtual_machine" "{{ entity_name }}" {
  name        = "{{ tn_id }}-{{ entity_name }}"
  template_id = {{ site_available_components.monitoring.template_id }}
  cpu         = {{ one_monitoring_cpu }}
  vcpu        = {{ one_monitoring_cpu }}
  memory      = {{ one_monitoring_memory }}

  context = {
    NETWORK =        "YES"
    NETCFG_TYPE =    "interfaces"
    SET_HOSTNAME =   "$NAME"
    USERNAME =       "jenkins"
    SSH_PUBLIC_KEY = "{{ jenkins_ssh_public_key }}"
    ONEAPP_INFLUXDB_VERSION =        "{{ one_influxdb_version }}"
    ONEAPP_INFLUXDB_USER =           "{{ one_influxdb_user }}"
    ONEAPP_INFLUXDB_PASSWORD =       "{{ one_influxdb_password }}"
    ONEAPP_INFLUXDB_ORG =            "{{ one_influxdb_org }}"
    ONEAPP_INFLUXDB_BUCKET =         "{{ one_influxdb_bucket }}"
    ONEAPP_INFLUXDB_TOKEN =          "{{ one_influxdb_token }}"
    ONEAPP_GRAFANA_VERSION =         "{{ one_grafana_version }}"
    ONEAPP_GRAFANA_ADMIN_PASSWORD =  "{{ one_grafana_password }}"
    ONEAPP_PROMETHEUS_VERSION =      "{{ one_prometheus_version }}"
  }

{# ### Disabled the possibility to modify VM's size due to a problem with Terraform's OpenNebula Provider
  disk {
    image_id = {{ site_available_components.monitoring.image_id }}
    size     = {{ one_monitoring_disk }}
    target   = "vda"
    driver   = "qcow2"
  } #}

{% for network in one_monitoring_networks %}
  nic {
    model           = "virtio"
    network_id      = opennebula_virtual_network.{{ network }}.id
  }
{% endfor %}

  depends_on = [ opennebula_virtual_network_address_range.tn_vxlan ]
}

output "{{ entity_name }}-id" {
  description = "OpenNebula VM ID"
  value = opennebula_virtual_machine.{{ entity_name }}.id
}

output "{{ entity_name }}-ips" {
  description = "OpenNebula VM Network Assignments"
  value = { for nic in opennebula_virtual_machine.{{ entity_name }}.nic[*] : nic.network_id => nic.computed_ip }
}

output "{{ entity_name }}-influx_conf" {
  description = "InfluxDB configuration"
  value = {
    version  = "{{ one_influxdb_version | default('') }}"
    user     = "{{ one_influxdb_user | default('') }}"
    password = "{{ one_influxdb_password | default('') }}"
    org      = "{{ one_influxdb_org | default('') }}"
    bucket   = "{{ one_influxdb_bucket | default('') }}"
    token    = "{{ one_influxdb_token | default('') }}"
    host     = opennebula_virtual_machine.{{ entity_name }}.nic[0].computed_ip
    port     = 8086
  }
}

output "{{ entity_name }}-grafana_conf" {
  description = "Grafana configuration"
  value = {
    version        = "{{ one_grafana_version | default('') }}"
    user           = "admin"
    password       = "{{ one_grafana_password | default('') }}"
    host           = opennebula_virtual_machine.{{ entity_name }}.nic[0].computed_ip
    port           = 3000
  }
}