image:
  repo: iswirelesspoland/isw-sdran_5g_cu
  tag: 1.15.0-d79c1b115-b44
deployment_name: sandbox
networking:
  bh:
    open5gs_CP_IP: "{{ one_cu_open5gs_amf_ip | string }}"
    open5gs_UP_IP: "{{ one_cu_open5gs_upf_ip | string }}"
  mh:
    CUCP_IP: "{{ one_cu_k8s_n2_ip | string }}"
    CUUP_IP: "{{ one_cu_k8s_n3_ip | string }}"
    DU_IP: "10.10.10.10"
    prefix: 24
    interface: "eth0"
  ric_net:
    RIC_IP: "{{ one_cu_ric_ip | string }}"
