image:
  repo: iswirelesspoland/isw-sdran_5g_cu
  tag: 1.15.0-d79c1b115-b44
deployment_name: sandbox
networking:
  bh:
    open5gs_CP_IP: "{{ one_cu_k8s_amf_n2_ip | string }}"
    open5gs_UP_IP: "{{ one_cu_k8s_upf_n3_ip | string }}"
  mh:
    CU_IP: "{{ one_cu_k8s_ip | string }}"
    DU_IP: "{{ site_available_components.iswireless_radio.f1_ip }}"
    prefix: 24
    interface: "{{ worker_interface | string }}"
targetNode: worker_0
