terraform {
  required_providers {
    opennebula = {
      source = "OpenNebula/opennebula"
      version = "~> 1.3"
    }
  }
}

resource "opennebula_virtual_machine" "{{ one_bastion_name }}_{{ tn_id }}" {

  name        = "{{ one_bastion_name }}_{{ tn_id }}"
  description = "BASTION FOR TN ID {{ tn_id }}"
  template_id = 41
  group       = "oneadmin"
  permissions = "660"

  context = {
    WIREGUARD_ALLOWEDIPS      = "{{ one_bastion_wireguard_allowed_networks }}"
  }
}